@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(ellipse farthest-corner at top, #693f62, #a5699b);
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #545454;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5699b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5699b; 
}